.heading-3 {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  perspective: 14px;
}

.overflow-hidden {
  overflow: hidden;
}

.line {
  display: block;
  text-align: start;
  width: 100%;
  perspective: 14px;
}

.word {
  display: inline-block;
}

.char {
  display: inline-block;
}
